body {
    background-color: black;
    border: 15px solid black;
    border-left: 8px;
    border-right: 8px;
}

#main {
    background-color: rgb(35, 35, 35);
    height: 1000px;
}



img:hover {
    cursor: pointer;
}

#parOne {

    position: absolute;
    width: 500px;
    height: auto;
    top: 640px;
    left: 765px;
    z-index: 999;
    text-align: center;
    border: 1px solid black;
    padding-bottom: 15px;

}

#afterPop {
    position: absolute;
    left: 755px;
    border: 1px solid white;
    width: 500px;
    height: 600px;
}

.popwin {
    text-align: center;
    font-size: 20px;
    color: white;
}